<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinaif.hoover.mapper.UserInfoBeanMapper">
    <resultMap id="BaseResultMap" type="com.sinaif.hoover.model.UserInfoBean">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uname" property="uname" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP"/>

    </resultMap>

    <sql id="Base_Column_List">
    id, uname, mobile,  createtime
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--useGeneratedKeys="true" keyProperty="id"-->
    <insert id="insert" parameterType="com.sinaif.hoover.model.UserInfoBean"
            >


    insert into user_info ( id,uname, mobile,createtime)
    values
    ( #{id,jdbcType=INTEGER} ,#{uname,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},#{createtime,jdbcType=TIMESTAMP})
  </insert>




</mapper>